{% extends 'VespolinaSiteBundle::layout.html.twig' %}

{% set isHomepage = true %}

{% block content %}

    <section role="intro">
        <div class="container">

            <div class="text">
                <h1>{{ cmfMainContent.title }}</h1>
                <p>{{ cmfMainContent.body|raw }}</p>
            </div>
            <img src="{{ asset('bundles/vespolinasite/img/home-demo.png') }}" />
        </div>
    </section>

    <section role="usp">

        <div class="container">

            <ul>

                <li class="item">
                    <div class="top">
                        <span class="image flexible">&nbsp;</span>
                    </div>
                    <div class="inner">
                        <h3>Flexibility</h3>
                        <p><a href="/en/features/choose-your-components">Choose</a> which components you want to use</p>
                    </div>
                </li>

                <li class="item">
                    <div class="top">
                        <span class="image configurable">&nbsp;</span>
                    </div>
                    <div class="inner">
                        <h3>Configurability</h3>
                        <p>Configure your <a href="/en/features/configure-your-processes">processes</a>, we don't force a specific commerce process.</p>
                    </div>
                </li>

                <li class="item">
                    <div class="top">
                        <span class="image reusable">&nbsp;</span>
                    </div>
                    <div class="inner">
                        <h3>Reusability</h3>
                        <p>Stop re&iuml;nventing the wheel, use our components and create value added business instead!</p>
                    </div>
                </li>

                <li class="item">
                    <div class="top">
                        <span class="image expandable">&nbsp;</span>
                    </div>
                    <div class="inner">
                        <h3>Expandable</h3>
                        <p>Need some specific business rules?  <a href="/en/features/integrate-with-your-business">We made it easy</a> to add new business rules and integrate with your existing applications</p>
                    </div>
                </li>

            </ul>

        </div>

    </section>

    <section role="info">
        <div class="container">
            <div class="row-fluid">
                {% if cmfMainContent.additionalInfoBlock and cmfMainContent.additionalInfoBlock.children %}
                    {% for childBlock in cmfMainContent.additionalInfoBlock.children %}
                        <article class="span6">
                            <h3>{{ childBlock.title }}</h3>
                            {{ childBlock.content|raw }}
                            {% if childBlock.settings.route is defined %}
                                <p><a class="btn" href="{{ path(childBlock.settings.route) }}">View details &raquo;</a></p>
                            {% endif %}
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="line"/>
    </div>

    <section role="sponsors">
        <div class="container">
            <h3>{% trans %}Sponsors{% endtrans %}</h3>
            {% include 'VespolinaSiteBundle:Default:_sponsors.html.twig' %}
        </div>
    </section>

{% endblock %}